//CSS FOR FACTIGIS_ADD - BUSQUEDA (1/3)
.factigisBusqueda_h5{
font-size: 11px;
  background-color: ghostwhite;
  border: 1px dashed;
  width: 100%;
  display: flex;
  border-color: gainsboro;
      margin-top: 7px;
}

.factigisBusqueda_h8{
  font-size: 13px;
  background-color: #e0e0e0;
  width: 100%;
  display: flex;
}

.factigisBF_searchTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.factigisBF_imgLoader{
  height: 0.8em;
  width: 1em;
  display: none;
}


.factigis_submitButton:hover{
    color: #fff;
    background-color: #8c0000  !important;
    border-color: #750000  !important;
}

.btn-success:hover {
    color: #fff;
    background-color: #8c0000 !important;
    border-color: #750000  !important;
}
.btn-success{
    border-color: #750000  !important;
}

.factigis_submitButton:active{
    background-color: #8c0000  !important;
}

.factigis_groupboxBtn{
  display: flex;
}
